.gallery-box{
	width: 100%;
	height: 100%;
	padding: 10px;
	
	background-color: #fff;
	/* grid-template-rows: ; */
}
.gallery-content{
	width: 100%;
	height: 100%;
	overflow-y: auto;
	display: grid;
	grid-template-columns: repeat(3,1fr);
}
.gallery-item{
	width:100%;
	height: 100%;
}