.customReactNode {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #8f8f8f;
  border-radius: 6px;
}
.rectPanelItem{
	width: 50px;
	height: 30px;
	border: 1px solid #333;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.circlePanelItem{
	width: 30px;
	height: 30px;
	border: 1px solid #333;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 15px;
}