@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .home-card{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #fff;
  }
  .home-card-num{
    font-size: 24px;
    display:  inline-block;
    margin-right: 8px;
  }
}

html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  width: 100%;
  height: 100%;
}

:root{
  /* --base:#0958d9; */
}