.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 1fr;
  .logo {
    background-color: green;
  }
  .top {
    background-color: blue;
  }
  .menu {
    background-color: black;
  }
  .content {
    background-color: red;
  }
}
